In [1]:
import pandas as pd
loanData = pd.read_csv('01Exercise1.csv')
loanData

     gender married   ch  income  loanamt status
0      Male      No  1.0    5849      NaN      Y
1      Male     Yes  1.0    4583    128.0      N
2      Male     Yes  1.0    3000     66.0      Y
3      Male     Yes  1.0    2583    120.0      Y
4      Male      No  1.0    6000    141.0      Y
..      ...     ...  ...     ...      ...    ...
609  Female      No  1.0    2900     71.0      Y
610    Male     Yes  1.0    4106     40.0      Y
611    Male     Yes  1.0    8072    253.0      Y
612    Male     Yes  1.0    7583    187.0      Y
613  Female      No  0.0    4583    133.0      N

[614 rows x 6 columns]

In [2]:
loanprep = loanData.copy()

In [3]:
loanprep

     gender married   ch  income  loanamt status
0      Male      No  1.0    5849      NaN      Y
1      Male     Yes  1.0    4583    128.0      N
2      Male     Yes  1.0    3000     66.0      Y
3      Male     Yes  1.0    2583    120.0      Y
4      Male      No  1.0    6000    141.0      Y
..      ...     ...  ...     ...      ...    ...
609  Female      No  1.0    2900     71.0      Y
610    Male     Yes  1.0    4106     40.0      Y
611    Male     Yes  1.0    8072    253.0      Y
612    Male     Yes  1.0    7583    187.0      Y
613  Female      No  0.0    4583    133.0      N

[614 rows x 6 columns]

In [4]:
loanprep.isnull().sum()

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [5]:
loanprep = loanprep.dropna()

In [6]:
loanprep.isnull().sum()

gender     0
married    0
ch         0
income     0
loanamt    0
status     0
dtype: int64

# Create Dummy Variables

In [7]:
loanprep = loanprep.drop(['gender'],axis=1)

In [8]:
loanprep

    married   ch  income  loanamt status
1       Yes  1.0    4583    128.0      N
2       Yes  1.0    3000     66.0      Y
3       Yes  1.0    2583    120.0      Y
4        No  1.0    6000    141.0      Y
5       Yes  1.0    5417    267.0      Y
..      ...  ...     ...      ...    ...
609      No  1.0    2900     71.0      Y
610     Yes  1.0    4106     40.0      Y
611     Yes  1.0    8072    253.0      Y
612     Yes  1.0    7583    187.0      Y
613      No  0.0    4583    133.0      N

[529 rows x 5 columns]

In [9]:
loanprep = pd.get_dummies(loanprep, drop_first=True)

from sklearn.preprocessing import StandardScaler
scaler_ = StandardScaler()

In [10]:
loanprep['income'] = scaler_.fit_transform(loanprep[['income']])
loanprep['loanamt'] = scaler_.fit_transform(loanprep[['loanamt']])

In [11]:
y= loanprep[['status_Y']]
x= loanprep.drop(['status_Y'],axis=1)

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
x,y, test_size=0.3, random_state=1234, stratify=Y)

NameError: name 'Y' is not defined

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(x_train,y_train)

In [ ]:
y_predict = lr.predict(x_test)

In [ ]:
y_predict

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, y_predict)

In [ ]:
score = lr.score(x_test, y_test)

In [ ]:
score

In [ ]:
cr = classification_report(y_predict, y_test)

In [ ]:
print(cr)

# For SVM

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc = SVC()
svc.fit(x_train,y_train)

In [ ]:
y_predict = svc.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
cm = confusion_matrix(y_test, y_predict)

In [ ]:
score2 = accuracy_score(y_predict, y_test)

In [ ]:
score2

In [ ]:
score = svc.score(x_test, y_test)

In [ ]:
cr1 = classification_report (y_predict, y_test)

In [ ]:
print(cr1)

In [ ]:
score

In [ ]:
cm

In [ ]:
y_prob = lr.predict_proba(x_test)[: , 1]

In [ ]:
y_prob

# Create prediction based on probability

In [ ]:
y_new_pred = []
threshold = 0.8

for i in range(0, len(y_prob)):
    if y_prob[i] > threshold:
        y_new_pred.append(1)
    else:
        y_new_pred.append(0)

In [ ]:
cm2 = confusion_matrix(y_test, y_new_pred)
score3 = accuracy_score(y_new_pred, y_test)
cr1 = classification_report (y_new_pred, y_test)

In [ ]:
cm2

In [ ]:
cm

In [ ]:
print(cr)

In [ ]:
print(cr1)

In [ ]:
from sklearn.metrics import roc_curve, roc_auc_score

fpr, tpr, threshold = roc_curve(y_test, y_prob)

AUC = roc_auc_score(y_test, y_prob)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(fpr, tpr, linewidth=4)
plt.xlabel("False Postive Rate")
plt.ylabel("True Postive Rate")
plt.title("ROC curve for loan prediction")
plt.grid()